.projects_staticTermsBanner__ztnqe {
  padding: 193px 0 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative;
}
.projects_staticTermsBanner__ztnqe:before {
  content: "";
  width: 100%;
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background:
    linear-gradient(
      180deg,
      #000 -39.28%,
      rgba(0, 0, 0, 0.68) -11.73%,
      rgba(0, 0, 0, 0) 43.03%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.projects_StaticPage__J244M .projects_staticHeadText__YaGcM {
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 6px;
  text-transform: uppercase;
  text-shadow: 0 4px 10px #000;
}
.projects_staticHeadText__YaGcM > span {
  color: #fff;
}
.projects_faqsTitle__IK8hI {
  font-family: AvenirNext;
}
.projects_projectHighlightsFlex__4CRwH {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: relative;
}
.projects_projectHighlightsItm__fZlVI {
  position: relative;
  padding: 51px 79px;
  gap: 8px;
}
.projects_projectHighlightsItm__fZlVI:after {
  content: "";
  height: 14px;
  width: 1.5px;
  background: #fff;
  border-left: 2px solid #787878;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(8px, -50%);
}
.projects_projectHighlightsItm__fZlVI:last-of-type:after {
  content: none;
}
.projects_highlightsCount___Xx_J {
  font-size: 28px;
  color: #17574b;
  font-weight: 400;
  line-height: 35px;
  font-feature-settings: "smcp";
  font-variant: small-caps;
  letter-spacing: 0.7px;
}
.projects_highlightsDesc__ZvFwK {
  font-size: 20px;
  color: #17574b;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.5px;
  font-family: AvenirNext;
}
.projects_highlightsDesc__ZvFwK > span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects_projectParaText__31EOz {
  margin-block: 24px 80px;
  font-size: 20px;
  color: #121212;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.5px;
  font-family: AvenirNext;
  text-align: center;
}
.projects_iconArrowDown__nbxa_ {
  background-color: transparent;
  border: 0;
  outline: 0;
}
.projects_projectTabs__bh2VC button {
  font-size: 20px;
  color: #787878;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.5px;
  border: 0;
  border-bottom: 1px solid transparent;
  margin-bottom: 8px;
  padding: 0;
  font-family: AvenirNext;
  outline: 0;
}
.projects_projectItemBox__6LTsI {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.projects_projectItemFlx__S1Yir {
  flex: 0 0 auto;
  width: 48.2%;
  display: flex;
  flex-direction: column;
  padding-bottom: 48px;
}
.projects_projectItemFlx__S1Yir:hover .projects_projectMda__E24Hg:after {
  content: "";
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 57.6%,
    rgba(0, 0, 0, 0.42) 77.21%,
    #000 103.92%
  );
  width: 100%;
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
}
.projects_projectItemFlx__S1Yir .projects_projectMda__E24Hg {
  overflow: hidden;
  position: relative;
}
.projects_projectInfoHover__OjV9U {
  z-index: 1;
  position: absolute;
  bottom: -80px;
  padding: 0 24px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transition: bottom 0.5s ease-in-out;
}
.projects_projectItemFlx__S1Yir:hover .projects_projectInfoHover__OjV9U {
  z-index: 1;
  bottom: 0;
}
.projects_projectInfoHover__OjV9U h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #fff;
  letter-spacing: 0.5px;
  font-family: AvenirNext;
}
.projects_projectInfoHover__OjV9U .projects_logoEffect__Qlp7b {
  height: 56px;
  width: 100px;
}
.projects_projectItemFlx__S1Yir .projects_projectMda__E24Hg > img {
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}
.projects_projectItemFlx__S1Yir:hover .projects_projectMda__E24Hg > img {
  transform: scale(1.038);
}
.projects_projectItemFlx__S1Yir:nth-of-type(2n) {
  margin-top: 150px;
}
.projects_projectItemFlx__S1Yir:nth-last-of-type(2) {
  padding-bottom: 0;
}
.projects_projectItemFlx__S1Yir:nth-of-type(2) {
  padding-bottom: 48px;
}
.projects_projectItemFlx__S1Yir:last-of-type {
  padding-bottom: 0;
}
.projects_projectMda__E24Hg img {
  height: 408px;
  object-fit: contain;
}
.projects_projectCnt__ndur4 {
  padding: 1rem;
  font-family: AvenirNext;
  width: 100%;
}
.projects_projectCnt__ndur4 h4 {
  font-size: 20px;
  color: #121212;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}
.projects_projectInfFlx__gffS2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  color: #787878;
  white-space: nowrap;
}
.projects_projectInfPlc__Ph6oD {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.projects_projectInfSpn__3eMup {
  display: flex;
  align-items: center;
  gap: 48px;
}
.projects_projectInfSpn__3eMup span {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.35px;
}
.projects_projectInfSpn__3eMup span:after {
  content: "";
  height: 12px;
  width: 1px;
  display: inline-block;
  background: #787878;
  position: absolute;
  right: -24px;
  top: 50%;
  transform: translateY(-50%);
}
.projects_projectInfSpn__3eMup span:last-of-type:after {
  content: none;
}
.projects_gravityBgProject__iqZkI {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: calc(100dvh - 163px);
}
.projects_gravityBgProject__iqZkI:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100dvh - 163px);
  background-image: linear-gradient(
    180deg,
    #000 -1.36%,
    rgba(0, 0, 0, 0.52) 10.61%,
    rgba(0, 0, 0, 0) 16.34%,
    rgba(0, 0, 0, 0.23) 96.42%,
    rgba(0, 0, 0, 0.56) 116.42%
  );
}
.projects_GravitySmeraGardensBg__UD51x:after {
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) -7.63%,
      rgba(0, 0, 0, 0) 9.56%,
      rgba(0, 0, 0, 0) 41.29%,
      rgba(0, 0, 0, 0) 69.78%,
      rgba(0, 0, 0, 0) 99.71%
    );
}
.projects_GravityRajankunteBg__vIbpL:after {
  background: linear-gradient(
    180deg,
    #000 -7.63%,
    rgba(0, 0, 0, 0.02) 11.06%,
    rgba(0, 0, 0, 0) 40.95%,
    rgba(0, 0, 0, 0) 76.51%,
    rgba(0, 0, 0, 0.76) 109.04%
  );
}
.projects_GravityForestViewBg__r_sS4:after {
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(
      180deg,
      #000 -7.63%,
      rgba(0, 0, 0, 0.52) 9.56%,
      rgba(0, 0, 0, 0) 41.29%
    );
}
.projects_gravityThanisandraBg__CpkY3:after {
  background: linear-gradient(
    180deg,
    #000 -7.63%,
    rgba(0, 0, 0, 0.52) 0.43%,
    rgba(0, 0, 0, 0) 14.3%,
    rgba(0, 0, 0, 0.23) 90.16%,
    rgba(0, 0, 0, 0.9) 113.82%
  );
}
.projects_gavityMaanasaBg__DeH1n:after {
  background-image:
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(
      180deg,
      #000 -7.63%,
      rgba(0, 0, 0, 0.52) 11.24%,
      rgba(0, 0, 0, 0) 46.06%,
      rgba(0, 0, 0, 0) 74.61%,
      rgba(0, 0, 0, 0.58) 104.02%
    );
}
.projects_gravitySundridgeBg__yqZ1s:after {
  background-image:
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(
      180deg,
      #000 -7.63%,
      rgba(0, 0, 0, 0.52) 9.56%,
      rgba(0, 0, 0, 0) 41.29%
    );
}
.projects_projectLogoMda__bEaPm {
  padding: 4px 18px 4.321px;
}
.projects_projectLogoMdaTxt__b7ptZ {
  text-shadow: 0 0 9.429px rgba(0, 0, 0, 0.8);
  font-family: AvenirNext;
  font-size: 37.718px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  font-feature-settings: "smcp";
  font-variant: small-caps;
  letter-spacing: 0.943px;
  color: #fff;
  margin-top: -4px;
}
.projects_gravityBgProject__iqZkI h2,
.projects_gravityBgProject__iqZkI h2.projects_projectsRowThanisandra__1aLWQ,
.projects_gravityBgProject__iqZkI
  h2.projects_projectsRowThanisandra__1aLWQ
  span {
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 6px;
  text-transform: uppercase;
  border-right: 4px solid #17574b;
  padding-right: 1rem;
  text-align: right;
}
.projects_gravityBgProject__iqZkI h2.projects_projectsRowThanisandra__1aLWQ,
.projects_gravityBgProject__iqZkI
  h2.projects_projectsRowThanisandra__1aLWQ
  span {
  border: 0 !important;
  padding: 0;
  text-align: left;
}
.projects_gravityThanisandraBg__CpkY3 .projects_projectsRow__QdrYZ button {
  position: relative;
  right: 0;
  top: 0;
}
.projects_gravityBgProject__iqZkI h2 > span {
  font-size: 28px;
  font-weight: 400;
  line-height: 50px;
  font-feature-settings: "smcp";
  font-variant: small-caps;
  letter-spacing: 0.7px;
  display: block;
  text-transform: capitalize;
}
.projects_projectLogoFlex__YB4oy {
  font-family: AvenirNext;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.projects_projectLogoFlex__YB4oy > p {
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0.75px;
  color: #fff;
  font-family: AvenirNext;
}
.projects_projectSpanHighlights__UtLg_ {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: AvenirNext;
  color: #787878;
  gap: 48px;
  margin-bottom: 40px;
}
.projects_infoStyleIco__iNk2r {
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.projects_projectInfoHighlights__5K3LW {
  padding-block: 24px 64px;
}
.projects_projectHeaderScroll__exmrM {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  margin-bottom: 0;
  gap: 12px;
}
.projects_projectHeader__cIvot {
  background-color: #121212;
  padding-block: 12px;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 56px;
  z-index: 3;
}
.projects_projectHeaderScroll__exmrM::-webkit-scrollbar {
  height: 4px;
  border-radius: 8px;
}
.projects_projectHeaderScroll__exmrM::-webkit-scrollbar-track {
  background: #121212;
}
.projects_projectHeaderScroll__exmrM::-webkit-scrollbar-thumb {
  background-color: #ffffff2c;
  border-radius: 20px;
  border: 4px solid transparent;
}
.projects_projectHeaderScroll__exmrM li {
  list-style: none;
  padding: 8px 20.5px 4.771px 21.5px;
}
.projects_projectHeaderScroll__exmrM li a {
  font-size: 14px;
  font-family: AvenirNext;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.35px;
  border-bottom: 1.5px solid transparent;
  color: #fff;
  cursor: pointer;
}
.projects_projectHeaderScroll__exmrM
  li
  a.projects_projectHeaderLinksActive__KuDlI,
.projects_projectHeaderScroll__exmrM li:hover a {
  border-bottom: 1.5px solid #ffffff;
}
.projects_projectSpanHighlights__UtLg_ > span,
.projects_projectSpanHighlights__UtLg_ > span h1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.35px;
  position: relative;
}
.projects_projectSpanHighlights__UtLg_ > span:after {
  border-left: 1px solid #787878;
  content: "";
  height: 12px;
  width: 1px;
  display: inline-block;
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
}
.projects_projectSpanHighlights__UtLg_ > span:last-of-type:after {
  content: none;
}
.projects_projectAssets__J3j4J {
  background-color: #efefef;
  color: #121212;
  padding-block: 40px;
}
.projects_projectAssets__J3j4J h6 > span {
  color: #121212;
}
.projects_assetsFlex__nuCWm {
  gap: 5rem;
}
.projects_assetsFlexCol__Tc8pE {
  gap: 9px;
}
.projects_assetsFlexMda__RAm0x {
  position: relative;
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.projects_assetsFlexMda__RAm0x:hover svg path {
  fill: #17574b;
}
.projects_assetsFlexCol__Tc8pE:first-of-type
  .projects_assetsFlexMda__RAm0x:hover
  svg
  path,
.projects_assetsFlexCol__Tc8pE:first-of-type
  .projects_assetsFlexMda__RAm0x:hover
  svg
  rect,
.projects_assetsFlexCol__Tc8pE:nth-of-type(2)
  .projects_assetsFlexMda__RAm0x:hover
  svg
  path,
.projects_assetsFlexCol__Tc8pE:nth-of-type(2)
  .projects_assetsFlexMda__RAm0x:hover
  svg
  rect {
  stroke: #17574b;
}
.projects_assetsFlexCol__Tc8pE:hover h6 {
  color: #17574b;
}
.projects_assetsFlexCol__Tc8pE h6 {
  font-size: 14px;
  color: #787878;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.35px;
  font-family: AvenirNext;
}
.projects_overViewInfo__D7UaA {
  font-family: AvenirNext;
}
.projects_projectStyleHeading__b5vZw {
  font-size: 40px;
  color: #17574b;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-family: AvenirNext;
}
.projects_projectStyleHeading__b5vZw span {
  font-family: AvenirNext;
  font-size: 28px;
  font-weight: 500;
  line-height: 35px;
  font-feature-settings: "smcp";
  font-variant: small-caps;
  letter-spacing: 0.7px;
  text-transform: capitalize;
}
.projects_projectStyleHeading__b5vZw.projects_projectStyleHeadingBlack__dSr1u
  span,
.projects_projectStyleHeading__b5vZw.projects_projectStyleHeadingTxtBlc__PJFdr {
  color: #121212;
}
.projects_projectStyleSubHeading__OF1J3 {
  font-family: AvenirNext;
  font-size: 28px;
  color: #121212;
  font-weight: 500;
  line-height: 35px;
  font-feature-settings: "smcp";
  font-variant: small-caps;
  letter-spacing: 0.7px;
}
.projects_overViewRera__QoC5a h6 {
  font-size: 13.333px;
  color: #121212;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.333px;
  margin-bottom: 10px;
  font-family: AvenirNext;
}
.projects_overViewTxt___6Wct h1 {
  font-size: 28px;
  font-weight: 400;
  line-height: 35px;
  font-feature-settings: "smcp";
  font-variant: small-caps;
  letter-spacing: 0.7px;
  color: #121212;
  font-family: AvenirNext;
}
.projects_overViewTxt___6Wct h1 > span {
  font-size: 40px;
  color: #17574b;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 6px;
  text-transform: uppercase;
}
.projects_overViewTxt___6Wct p {
  font-size: 16px;
  font-family: AvenirNext;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #121212;
}
.projects_overViewRera__QoC5a p {
  color: #121212;
  font-size: 11.982px;
  font-weight: 400;
  line-height: 17.973px;
  letter-spacing: 0.3px;
  font-family: AvenirNext;
}
.projects_overViewTxttext__VBWCV h1,
.projects_overViewTxttext__VBWCV h6 {
  margin-bottom: 10px;
  text-transform: capitalize;
  font-feature-settings:
    "smpl",
    "kern" off;
  font-variant: none;
  font-family: AvenirNext;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0.75px;
}
.projects_overViewRera__QoC5a p > span {
  color: #17574b;
}
.projects_aboutHighlightedLocat__5KAyq {
  display: flex;
  flex-direction: column;
  gap: 41px;
}
.projects_aboutHighlightedAdr__JD6XC span {
  display: block;
  color: #787878;
  font-size: 20px;
  font-family: AvenirNext;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.5px;
}
.projects_aboutHighlightedNum__eX62H span {
  display: block;
  font-size: 16px;
  font-family: AvenirNext;
  font-weight: 400;
  line-height: 24px;
  color: #17574b;
  letter-spacing: 0.4px;
}
.projects_aboutHighlighted__VWMWR {
  display: flex;
  margin-block: 22px;
}
.projects_aboutHighlighted__VWMWR .projects_projectHighlightFlex__BX95Y {
  flex: 1 0;
}
.projects_aboutHighlighted__VWMWR .projects_projectHighlightFlex__BX95Y > span {
  display: block;
  font-size: 15.053px;
  color: #4a3121;
  font-weight: 500;
  line-height: normal;
  text-transform: normal;
  font-family: AvenirNext;
}
.projects_smeraColor__wC0zg {
  color: #4a3121 !important;
}
.projects_projectInfoHighlightsUppercase__huONV
  .projects_projectHighlightFlex__BX95Y
  > span:nth-of-type(2) {
  text-transform: uppercase;
}
.projects_ecoVillas__tXFB4 {
  height: 577px;
  position: relative;
  background-size: cover;
  background-position: 50%;
}
.projects_ecoVillas__tXFB4:after {
  content: "";
  content: none;
}
.projects_ecoVillasThan__2_8nt:after,
.projects_ecoVillas__tXFB4:after {
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    linear-gradient(
      180deg,
      #000 -25.51%,
      rgba(0, 0, 0, 0.52) 1.97%,
      rgba(0, 0, 0, 0) 24.95%,
      rgba(0, 0, 0, 0.23) 73.1%,
      rgba(0, 0, 0, 0.76) 103.05%
    );
  width: 100%;
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.projects_ecoVillasThan__2_8nt:after {
  content: "";
  background-position: -743.264px -654.687px;
  background-size: 157.182% 296.305%;
}
.projects_ecoVillasContainer__XQbq8 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  z-index: 1;
  position: relative;
}
.projects_ecoVillasContainer__XQbq8 h2 {
  color: #fff;
  text-align: center;
  font-size: 41.325px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 62px;
}
.projects_ecoVillasContainer__XQbq8 h2 span {
  font-size: 20.33px;
  font-weight: 400;
  line-height: 149.1%;
  display: block;
}
.projects_highlightsGrid__EbMJa {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 16px 16px;
  gap: 16px 16px;
  grid-template-areas: ". ." ". ." ". .";
}
.projects_gravityAmenitiesSpotlight__5DS6_ .projects_highlightsGrid__EbMJa {
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". ." ". .";
}
.projects_highlightsGridCol__1DVBb {
  height: 272px;
  position: relative;
  background-color: #919191;
}
.projects_highlightsGridCol__1DVBb:after {
  content: "";
  background: linear-gradient(
    0deg,
    rgba(1, 107, 107, 0.1),
    rgba(1, 107, 107, 0.1)
  );
  width: 100%;
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.projects_gravityAmenitiesSpotlight__5DS6_
  .projects_highlightsGridCol__1DVBb:after {
  content: none;
}
.projects_highlightsGridAranya__cmBFb .projects_highlightsGridCol__1DVBb {
  width: 50%;
}
.projects_highlightsGridAranya__cmBFb
  .projects_highlightsGridCol__1DVBb:first-of-type {
  width: 70%;
}
.projects_highlightsGridAranya__cmBFb
  .projects_highlightsGridCol__1DVBb:nth-of-type(2) {
  width: 30%;
}
.projects_highlightsGridAranya__cmBFb
  .projects_highlightsGridCol__1DVBb:nth-last-of-type(2) {
  width: 65%;
}
.projects_highlightsGridAranya__cmBFb
  .projects_highlightsGridCol__1DVBb:last-of-type {
  width: 35%;
}
.projects_highlightsGridCol__1DVBb > img {
  object-fit: cover;
}
.projects_amenitiesFlex__FAKrh {
  padding-block: 24px;
}
.projects_amenitiesFlex__FAKrh span {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.projects_amenitiesFlex__FAKrh p {
  margin-left: 35px;
  font-size: 20px;
  color: #121212;
  font-family: AvenirNext;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.5px;
}
.projects_otherProjects__JTWcL .projects_projectItemBox__6LTsI {
  gap: 0;
}
.projects_otherProjects__JTWcL .projects_projectItemFlx__S1Yir {
  width: 100%;
}
.projects_otherProjects__JTWcL .projects_gravityHeadCenter__FXFgF h6 {
  font-size: 28px;
  font-weight: 500;
  line-height: 125%;
  font-feature-settings: "smcp";
  font-variant: small-caps;
  letter-spacing: 0.7px;
}
.projects_otherProjects__JTWcL .projects_gravityHeadCenter__FXFgF h6 > span {
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 6px;
  text-transform: uppercase;
}
.projects_highlightOverlayTxt__EAorj {
  z-index: 9;
  position: absolute;
  bottom: 0;
  left: 0;
  right: auto;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: rgba(18, 18, 18, 0.6);
  padding: 12.804px 25.609px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4px;
  font-family: AvenirNext;
}
.projects_highlightOverlayTxt__EAorj:after {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1.5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 9;
  background: #fff;
}
.projects_fontFamilyAvenir__1ejw_ {
  font-family: AvenirNext;
}
.projects_highlightsGridThanisandra__U89hn {
  display: flex;
  flex-wrap: wrap;
  gap: 3px 0.15%;
  margin-inline: -0.05%;
}
.projects_highlightsGridColThanisandra__RpxHs {
  flex: 0 0 auto;
  width: 49.85%;
  height: 272px;
  position: relative;
}
.projects_highlightsGridThanisandra__U89hn
  .projects_highlightsGridColThanisandra__RpxHs:nth-of-type(3):after,
.projects_highlightsGridThanisandra__U89hn
  .projects_highlightsGridColThanisandra__RpxHs:nth-of-type(4):after {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
.projects_highlightsGridColThanisandra__RpxHs:after {
  content: "";
  background: transparent;
  width: 100%;
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.projects_highlightsGridThanisandra__U89hn
  .projects_highlightsGridColThanisandra__RpxHs:nth-of-type(2)
  .projects_highlightOverlayTxtThan__T0wU_ {
  color: #003125;
  text-align: left;
  max-width: 1140px;
  margin: 0 auto;
}
.projects_highlightsGridThanisandra__U89hn
  .projects_highlightsGridColThanisandra__RpxHs:nth-of-type(3) {
  width: 59.85%;
}
.projects_highlightsGridThanisandra__U89hn
  .projects_highlightsGridColThanisandra__RpxHs:nth-of-type(4) {
  width: 40%;
}
.projects_highlightsGridThanisandra__U89hn
  .projects_highlightsGridColThanisandra__RpxHs:first-of-type,
.projects_highlightsGridThanisandra__U89hn
  .projects_highlightsGridColThanisandra__RpxHs:nth-of-type(2) {
  width: 100%;
}
.projects_highlightsGridColThanisandra__RpxHs > img {
  object-fit: cover;
}
.projects_highlightOverlayTxtThan__T0wU_ {
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 25px;
  color: #fff;
  font-weight: 500;
  line-height: 37.5px;
  letter-spacing: 0.625px;
  text-transform: uppercase;
  font-family: AvenirNext;
}
.projects_highlightOverlayTxtThan__T0wU_:after {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1.5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 9;
  background: #fff;
}
.projects_highlightsGridThanisandra__U89hn
  .projects_highlightsGridColThanisandra__RpxHs:nth-of-type(2)
  .projects_highlightOverlayTxtThan__T0wU_:after {
  max-width: 1320px;
  content: none;
}
.projects_borderBgCenter__lPs44 {
  display: inline-block;
  position: relative;
}
.projects_borderBgCenter__lPs44:after {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1.5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 9;
  background: #003125;
}
.projects_highlistsListss__WUO8P {
  padding-block: 70px;
  position: relative;
}
.projects_highlistsListss__WUO8P:after {
  content: "";
  width: 100%;
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(17, 60, 52, 0.93);
}
.projects_highlistsListsGrids__pMc8p {
  width: 100%;
  height: 385px;
}
.projects_videoGalleryDv__nHLgw video {
  height: 468px;
  object-fit: cover;
}
.projects_gravityBgProj__2dMtC {
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: calc(100dvh - 400px);
}
.projects_gravityBgProj__2dMtC:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100dvh - 210px);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
.projects_gravityBgProj__2dMtC h2 {
  font-family: AvenirNext;
  font-size: 25.533px;
  color: #fff;
  font-weight: 400;
  line-height: 31.9px;
  font-feature-settings: "smcp";
  font-variant: small-caps;
  letter-spacing: 3.83px;
}
.projects_gravityPricingStyle__c7o_F {
  padding-block: 40px;
  background-color: #ebebeb;
  position: relative;
}
.projects_pricing_flex_block__JaEeI {
  background-color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem 0;
  font-family: AvenirNext;
}
.projects_price_plan_text__LYccr {
  font-family: AvenirNext;
  font-size: 30px;
  color: #17574b;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0.75px;
}
.projects_pricing_villa_box__pXyMB {
  font-family: AvenirNext;
  padding: 1rem 2rem;
  font-size: 28px;
  color: #17574b;
  font-weight: 500;
  line-height: 35px;
  font-feature-settings: "smcp";
  font-variant: small-caps;
  letter-spacing: 0.7px;
  text-align: center;
  background: #c6e2d5;
}
.projects_pricing_flex_blockSmera__hKiU5 .projects_pricing_villa_box__pXyMB {
  background: #efe1ca;
  color: #4a3121;
}
.projects_pricing_flex_blockaatha__q8CMF .projects_pricing_villa_box__pXyMB {
  background: #c6e2d5;
  color: #4a3121;
}
.projects_pricing_villa_content__E1Kvb p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: #323232;
}
@media screen and (max-width: 1400px) {
  .projects_projectInfFlx__gffS2 {
    gap: 8px;
    flex-wrap: wrap;
  }
  .projects_projectInfSpn__3eMup {
    order: 0;
  }
  .projects_projectInfPlc__Ph6oD {
    order: 1;
  }
}
@media screen and (max-width: 991px) {
  .projects_projectItemFlx__S1Yir {
    flex: 0 0 auto;
    width: 47.5%;
  }
}
@media screen and (max-width: 768px) {
  .projects_staticTermsBanner__ztnqe {
    padding: 421px 24px 16px;
  }
  .projects_StaticPageAll__EXJpg .projects_staticTermsBanner__ztnqe {
    background-size: cover !important;
    background-position: 50% !important;
  }
  .projects_StaticPageAll__EXJpg .projects_staticTermsBanner__ztnqe:before {
    background: linear-gradient(
      180deg,
      #000 -39.28%,
      rgba(0, 0, 0, 0.68) 0.92%,
      rgba(0, 0, 0, 0) 50.93%,
      rgba(0, 0, 0, 0.54) 110.55%,
      rgba(0, 0, 0, 0.67) 123.53%
    );
  }
  .projects_staticHeadText__YaGcM {
    text-align: center !important;
    font-size: 28px;
    line-height: 35px;
    font-feature-settings: "smcp";
    font-variant: small-caps;
    letter-spacing: 0.7px;
  }
  .projects_projectHighlightsFlex__4CRwH {
    gap: 0;
  }
  .projects_projectHighlightsItm__fZlVI {
    padding: 32px 16px 0;
  }
  .projects_highlightsCount___Xx_J {
    font-size: 20px;
    line-height: 25px;
    font-feature-settings: "smcp";
    font-variant: small-caps;
    letter-spacing: 3px;
  }
  .projects_highlightsDesc__ZvFwK {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.35px;
  }
  .projects_highlightsDesc__ZvFwK > span {
    padding: 0;
    width: 24px;
    height: 24px;
  }
  .projects_highlightsDesc__ZvFwK > span > svg {
    width: 100%;
    height: 17px;
  }
  .projects_projectHighlightsItm__fZlVI:after {
    transform: translate(2px, -50%);
  }
  .projects_projectParaText__31EOz {
    margin-block: 40px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.35px;
    padding-inline: 1rem;
  }
  .projects_projectHighlights__cbK5h .projects_iconArrowDown__nbxa_ {
    margin-bottom: 40px !important;
  }
  .projects_projectItemFlx__S1Yir .projects_projectMda__E24Hg:after {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 57.6%,
      rgba(0, 0, 0, 0.42) 81.81%,
      #000 106.31%
    );
  }
  .projects_projectItemFlx__S1Yir .projects_projectInfoHover__OjV9U {
    z-index: 1;
    bottom: 0;
    padding: 0 16px 8px;
  }
  .projects_projectItemFlx__S1Yir .projects_projectMda__E24Hg {
    height: 269px !important;
    width: 100% !important;
  }
  .projects_projectInfoHover__OjV9U h4 {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
  }
  .projects_projectTabs__bh2VC button {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.35px;
  }
  .projects_projectItemBox__6LTsI {
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    gap: 24px;
  }
  .projects_projectItemFlx__S1Yir {
    width: 100%;
    padding-bottom: 0 !important;
  }
  .projects_projectCnt__ndur4 {
    padding-top: 8px;
  }
  .projects_projectCnt__ndur4 h4 {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.35px;
  }
  .projects_projectInfFlx__gffS2 {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .projects_projectInfSpn__3eMup {
    order: 0;
  }
  .projects_projectInfPlc__Ph6oD,
  .projects_projectInfSpn__3eMup span {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.3px;
  }
  .projects_projectInfPlc__Ph6oD {
    order: 1;
  }
  .projects_projectInfPlc__Ph6oD span {
    width: 16px;
    height: 16px;
    display: inline-block;
  }
  .projects_projectInfPlc__Ph6oD span > svg {
    width: 16px;
    height: 16px;
  }
  .projects_projectItemFlx__S1Yir:nth-of-type(2n) {
    margin-top: 0;
  }
  .projects_gravityBgProject__iqZkI {
    height: calc(100dvh - 85px);
  }
  .projects_gravityBgProject__iqZkI:after {
    background-image: linear-gradient(
      180deg,
      #000 -7.63%,
      rgba(0, 0, 0, 0.52) 9.56%,
      rgba(0, 0, 0, 0) 41.29%,
      rgba(0, 0, 0, 0.23) 62.91%,
      rgba(0, 0, 0, 0.76) 83.76%
    );
  }
  .projects_gravityBgProject__iqZkI.projects_GravityRajankunteBg__vIbpL:after {
    background: linear-gradient(
      180deg,
      #000 -28.89%,
      rgba(0, 0, 0, 0.52) 0,
      rgba(0, 0, 0, 0) -27.87%,
      rgba(0, 0, 0, 0) 65.2%,
      rgba(0, 0, 0, 0.76)
    );
  }
  .projects_gravityBgProject__iqZkI.projects_GravityForestViewBg__r_sS4:after,
  .projects_gravityBgProject__iqZkI.projects_gravitySundridgeBg__yqZ1s:after {
    background: linear-gradient(
      180deg,
      #000 -33.43%,
      rgba(0, 0, 0, 0.52) 0,
      rgba(0, 0, 0, 0) -32.37%,
      rgba(0, 0, 0, 0.32) -0.88%,
      rgba(0, 0, 0, 0) 45.74%,
      rgba(0, 0, 0, 0.76)
    );
  }
  .projects_gravityBgProject__iqZkI.projects_GravityForestViewBg__r_sS4
    .projects_projectsRow__QdrYZ
    h2,
  .projects_gravityBgProject__iqZkI.projects_GravityRajankunteBg__vIbpL
    .projects_projectsRow__QdrYZ
    h2,
  .projects_gravityBgProject__iqZkI.projects_gavityMaanasaBg__DeH1n
    .projects_projectsRow__QdrYZ
    h2,
  .projects_gravityBgProject__iqZkI.projects_gravitySundridgeBg__yqZ1s
    .projects_projectsRow__QdrYZ
    h2 {
    width: 100%;
    margin-top: 100px;
    border: 0;
    padding-left: 0;
    text-transform: uppercase;
    text-align: center;
  }
  .projects_gravityBgProject__iqZkI.projects_GravityRajankunteBg__vIbpL
    .projects_projectsRow__QdrYZ
    h2 {
    font-size: 30.716px;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: 4.607px;
  }
  .projects_gravityBgProject__iqZkI.projects_GravityForestViewBg__r_sS4
    .projects_projectsRow__QdrYZ
    h2,
  .projects_gravityBgProject__iqZkI.projects_gavityMaanasaBg__DeH1n
    .projects_projectsRow__QdrYZ
    h2,
  .projects_gravityBgProject__iqZkI.projects_gravitySundridgeBg__yqZ1s
    .projects_projectsRow__QdrYZ
    h2 {
    font-size: 29.22px;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: 4.383px;
    width: 85%;
    margin: 0 auto;
  }
  .projects_gravityBgProject__iqZkI.projects_GravityRajankunteBg__vIbpL
    .projects_projectsRow__QdrYZ
    h2
    span {
    font-size: 21.501px;
    font-weight: 500;
    line-height: 26.877px;
    font-feature-settings: "smcp";
    font-variant: small-caps;
    letter-spacing: 0.538px;
  }
  .projects_gravityBgProject__iqZkI.projects_GravityForestViewBg__r_sS4
    .projects_projectsRow__QdrYZ
    h2
    span,
  .projects_gravityBgProject__iqZkI.projects_gavityMaanasaBg__DeH1n
    .projects_projectsRow__QdrYZ
    h2
    span,
  .projects_gravityBgProject__iqZkI.projects_gravitySundridgeBg__yqZ1s
    .projects_projectsRow__QdrYZ
    h2
    span {
    font-size: 20.454px;
    font-weight: 500;
    line-height: 25.567px;
    font-feature-settings: "smcp";
    font-variant: small-caps;
    letter-spacing: 0.511px;
  }
  .projects_gravityBgProject__iqZkI h2,
  .projects_gravityBgProject__iqZkI h2 > span {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    font-feature-settings: "smcp";
    font-variant: small-caps;
    letter-spacing: 0.35px;
    font-family: AvenirNext;
    text-transform: capitalize;
  }
  .projects_gravityBgProject__iqZkI h2 {
    text-align: left;
    border-right: 0;
    border-left: 4px solid #17574b;
    padding-inline: 1rem 0;
    margin-top: 56px;
  }
  .projects_gravityBgProject__iqZkI {
    justify-content: space-between;
  }
  .projects_GravityAranyaBg__9l2ok {
    background-position: -180.915px 2.952px !important;
    background-size: 193.32% 174.525% !important;
    background-image: url(../images/banner_sm_1.webp) !important;
  }
  .projects_GravityAranyaBg__9l2ok:after {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) -7.63%,
      rgba(0, 0, 0, 0.26) 9.56%,
      rgba(0, 0, 0, 0) 41.29%,
      rgba(0, 0, 0, 0.11) 62.91%,
      rgba(0, 0, 0, 0.38) 83.76%
    );
  }
  .projects_GravitySmeraGardensBg__UD51x {
    background-position: -141.309px 0 !important;
    background-size: 179.211% 100% !important;
    background-image: url(../images/banner_sm.webp) !important;
  }
  .projects_GravitySmeraGardensBg__UD51x:after {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.39) -7.63%,
      rgba(0, 0, 0, 0.2) 9.56%,
      rgba(0, 0, 0, 0) 41.29%,
      rgba(0, 0, 0, 0.09) 62.91%,
      rgba(0, 0, 0, 0.3) 83.76%
    );
  }
  .projects_GravityRajankunteBg__vIbpL {
    background-position: -720.242px 0 !important;
    background-size: 315.077% 114.444% !important;
  }
  .projects_GravityForestViewBg__r_sS4 {
    background-position: 50% !important;
    background-size: cover !important;
  }
  .projects_GravitySkyForestBg__UgXrt {
    background-size: 212.342% 100% !important;
    background-position: -219.667px 0 !important;
  }
  .projects_gavityMaanasaBg__DeH1n {
    background-position: 50% !important;
    background-size: cover !important;
  }
  .projects_gravitySundridgeBg__yqZ1s {
    background-position: -606.841px 0 !important;
    background-size: 324.203% 100% !important;
  }
  .projects_projectsContainer__FVnx5,
  .projects_projectsRow__QdrYZ {
    height: 100%;
  }
  .projects_projectLogoFlex__YB4oy {
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    gap: 16px;
    padding-bottom: 24px;
  }
  .projects_projectLogoFlex__YB4oy > p {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.35px;
  }
  .projects_projectSpanHighlights__UtLg_ {
    gap: 0;
    justify-content: space-between;
  }
  .projects_projectSpanHighlights__UtLg_ > span:after {
    right: -8px;
  }
  .projects_projectSpanHighlights__UtLg_ > span {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    white-space: nowrap;
    text-align: center;
    flex: 1 0;
  }
  .projects_projectInfoHighlights__5K3LW
    .projects_projectSpanHighlights__UtLg_:nth-of-type(2) {
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
  }
  .projects_projectInfoHighlights__5K3LW
    .projects_projectSpanHighlights__UtLg_:nth-of-type(2)
    span
    > svg {
    width: 1rem;
    height: 1rem;
  }
  .projects_projectInfoHighlights__5K3LW
    .projects_projectSpanHighlights__UtLg_:nth-of-type(2)
    span:first-of-type:after {
    content: none;
  }
  .projects_assetsFlexMda__RAm0x,
  .projects_assetsFlexMda__RAm0x > svg {
    width: 56px;
    height: 56px;
  }
  .projects_assetsFlex__nuCWm {
    gap: 40px;
  }
  .projects_overViewRera__QoC5a p,
  .projects_overViewTxt___6Wct p {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.35px;
  }
  .projects_overViewRera__QoC5a p > span {
    word-break: break-all;
  }
  .projects_highlightsGridCol__1DVBb {
    width: 100% !important;
    height: 188px;
  }
  .projects_highlightsGridCol__1DVBb:nth-of-type(3),
  .projects_highlightsGridCol__1DVBb:nth-of-type(6) {
    width: 100% !important;
  }
  .projects_highlightOverlayTxt__EAorj {
    padding: 12.804px 25.609px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
  }
  .projects_highlightsGrid__EbMJa {
    gap: 16px;
  }
  .projects_amenitiesFlex__FAKrh {
    padding-block: 0 16px;
  }
  .projects_amenitiesFlex__FAKrh span {
    display: inline-block;
    width: 28px;
    height: 28px;
  }
  .projects_amenitiesFlex__FAKrh span > svg {
    width: 28px;
    height: 28px;
  }
  .projects_amenitiesFlex__FAKrh p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.35px;
    margin-left: 12px;
  }
  .projects_gravityBgProject__iqZkI:after {
    height: calc(100dvh - 85px);
  }
  .projects_gravityThanisandraBg__CpkY3:after {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.52) -64.35%,
      #000 -45.13%,
      rgba(0, 0, 0, 0) 17.67%,
      rgba(0, 0, 0, 0.23) 72.28%,
      rgba(0, 0, 0, 0.76) 93.21%
    );
  }
  .projects_gravityThanisandraBg__CpkY3 .projects_projectLogoFlex__YB4oy {
    height: auto;
  }
  .projects_gravityBgProject__iqZkI.projects_gravityThanisandraBg__CpkY3 h2 {
    margin-top: 140px;
    margin-left: 30px;
  }
  .projects_gravityBgProject__iqZkI h2.projects_projectsRowThanisandra__1aLWQ {
    font-size: 21.501px;
    font-weight: 500;
    line-height: 26.877px;
    font-feature-settings: "smcp";
    font-variant: small-caps;
    letter-spacing: 0.538px;
  }
  .projects_gravityBgProject__iqZkI
    h2.projects_projectsRowThanisandra__1aLWQ
    span {
    font-size: 30.716px;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: 4.607px;
    text-transform: uppercase;
  }
  .projects_spacer__0__N98tv {
    height: 0;
  }
  .projects_gavityMaanasaBg__DeH1n:after {
    background:
      linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(
        180deg,
        #000 -7.63%,
        rgba(0, 0, 0, 0.52) 9.56%,
        rgba(0, 0, 0, 0) 41.29%
      );
  }
  .projects_gravitySundridgeBg__yqZ1s:after {
    background-image:
      linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(
        180deg,
        #000 -7.63%,
        rgba(0, 0, 0, 0.52) 9.56%,
        rgba(0, 0, 0, 0) 41.29%
      );
  }
  .projects_projectAssetsTxt__ZRiF2 .projects_overViewTxt___6Wct p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
  }
  .projects_completedProjects__lYQn9 .projects_gravityHeadCenter__FXFgF h6,
  .projects_otherProjects__JTWcL .projects_gravityHeadCenter__FXFgF h6 {
    margin-bottom: 40px !important;
  }
  .projects_projectStyleHeading__b5vZw {
    font-size: 28px;
    font-weight: 500;
    line-height: 35px;
    font-feature-settings: "smcp";
    font-variant: small-caps;
    letter-spacing: 0.7px;
    text-transform: capitalize;
    text-align: center;
  }
  .projects_overViewRera__QoC5a h6 {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.35px;
  }
  .projects_overViewTxt___6Wct h1 > span {
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.7px;
  }
  .projects_gravityAmenitiesGrid__MB14V {
    padding-top: 16px;
  }
  .projects_price_plan_text__LYccr {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.35px;
    text-align: center;
  }
  .projects_pricing_villa_box__pXyMB {
    font-family: AvenirNext;
    padding: 8px 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.35px;
  }
  .projects_pricing_villa_content__E1Kvb p {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0;
  }
  .projects_projectLogoMda__bEaPm {
    width: 120px;
    padding: 3.75px 4.5px 3.991px 5.25px;
  }
  .projects_iconArrowDown__nbxa_ > svg {
    height: 16px;
    width: 16px;
  }
  .projects_highlightsGrid__EbMJa {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "." "." "." "." "." ".";
  }
  .projects_spacer_2_5__uOfzS {
    height: 24px;
  }
  .projects_gravityAmenitiesSpotlight__5DS6_ .projects_highlightsGrid__EbMJa {
    grid-template-rows: 1fr;
    grid-template-areas: "." "." "." ".";
  }
  .projects_videoGalleryDv__nHLgw video {
    height: 293px;
  }
  .projects_highlightsGridThanisandra__U89hn {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2px 0.25%;
  }
  .projects_highlightsGridThanisandra__U89hn
    .projects_highlightsGridColThanisandra__RpxHs:first-of-type {
    background-size: 173.786% 159.276% !important;
    background-position: -150.149px -50.765px !important;
  }
  .projects_highlightsGridThanisandra__U89hn
    .projects_highlightsGridColThanisandra__RpxHs:first-of-type:after,
  .projects_highlightsGridThanisandra__U89hn
    .projects_highlightsGridColThanisandra__RpxHs:nth-of-type(2):after,
  .projects_highlightsGridThanisandra__U89hn
    .projects_highlightsGridColThanisandra__RpxHs:nth-of-type(3):after,
  .projects_highlightsGridThanisandra__U89hn
    .projects_highlightsGridColThanisandra__RpxHs:nth-of-type(4):after {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  }
  .projects_highlightsGridThanisandra__U89hn
    .projects_highlightsGridColThanisandra__RpxHs:nth-of-type(2) {
    background-size: 194.769% 126% !important;
    background-position: -55px -68px !important;
  }
  .projects_highlightsGridThanisandra__U89hn
    .projects_highlightsGridColThanisandra__RpxHs:nth-of-type(2)
    .projects_highlightOverlayTxtThan__T0wU_ {
    text-align: center;
    color: #fff;
  }
  .projects_highlightsGridThanisandra__U89hn
    .projects_highlightsGridColThanisandra__RpxHs:nth-of-type(2)
    .projects_highlightOverlayTxtThan__T0wU_
    .projects_borderBgCenter__lPs44:after {
    background: #fff;
  }
  .projects_highlightsGridThanisandra__U89hn
    .projects_highlightsGridColThanisandra__RpxHs:nth-of-type(3),
  .projects_highlightsGridThanisandra__U89hn
    .projects_highlightsGridColThanisandra__RpxHs:nth-of-type(4) {
    background-size: cover !important;
    background-position: 50% !important;
  }
  .projects_highlightsGridThanisandra__U89hn
    .projects_highlightsGridColThanisandra__RpxHs:last-of-type,
  .projects_highlightsGridThanisandra__U89hn
    .projects_highlightsGridColThanisandra__RpxHs:nth-of-type(3) {
    width: 100%;
  }
  .projects_highlightsGridThanisandra__U89hn
    .projects_highlightsGridColThanisandra__RpxHs:nth-last-of-type(2),
  .projects_highlightsGridThanisandra__U89hn
    .projects_highlightsGridColThanisandra__RpxHs:nth-of-type(4) {
    width: 49.875%;
  }
  .projects_highlightOverlayTxtThan__T0wU_ {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.35px;
    padding-inline: 25px;
    text-transform: capitalize;
  }
  .projects_highlightOverlayTxtThan__T0wU_:after {
    height: 1px;
    bottom: -4px;
  }
  .projects_projectStyleHeadingSM__XlogW.projects_projectStyleHeading__b5vZw {
    font-size: 23.558px;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: 3.534px;
    text-transform: uppercase;
  }
  .projects_projectStyleHeadingSM__XlogW.projects_projectStyleHeading__b5vZw
    span {
    display: block;
    font-size: 16.491px;
    font-style: normal;
    font-weight: 500;
    line-height: 20.614px;
    font-feature-settings: "smcp";
    font-variant: small-caps;
    letter-spacing: 0.412px;
  }
  .projects_gravityPricingStyle__c7o_F {
    padding-block: 0;
  }
  .projects_overViewInfoThans__IVaF5 .projects_gravityPricingStyle__c7o_F {
    padding-top: 40px;
  }
  .projects_otherProjects__JTWcL .projects_gravityHeadCenter__FXFgF h6 > span {
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.7px;
  }
  .projects_otherProjectsCompleted__nXjhY
    .projects_gravityHeadCenter__FXFgF
    h6
    div {
    font-size: 16.283px;
    font-weight: 500;
    line-height: 125%;
    font-feature-settings: "smcp";
    font-variant: small-caps;
    letter-spacing: 0.407px;
  }
  .projects_otherProjectsCompleted__nXjhY
    .projects_gravityHeadCenter__FXFgF
    h6
    > span {
    font-size: 23.261px;
    font-weight: 500;
    line-height: 29.077px;
    letter-spacing: 3.489px;
    text-transform: uppercase;
  }
  .projects_highlistsListss__WUO8P {
    padding-block: 20px;
  }
  .projects_highlistsListsGrids__pMc8p {
    height: 200px;
  }
  .projects_StaticPage__J244M .projects_staticHeadText__YaGcM {
    font-size: 28px;
    font-weight: 500;
    line-height: 35px;
    font-feature-settings: "smcp";
    font-variant: small-caps;
    letter-spacing: 0.7px;
  }
  .projects_overViewInfo__D7UaA .projects_overViewTxttext__VBWCV h1 {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.35px;
  }
  .projects_overViewInfo__D7UaA .projects_overViewTxttext__VBWCV p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.4px;
  }
  .projects_aboutHighlighted__VWMWR
    .projects_projectHighlightFlex__BX95Y
    > span {
    font-size: 10px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
  .projects_aboutHighlighted__VWMWR {
    margin-block: 1rem;
  }
  .projects_overViewRera__QoC5a h6 {
    font-size: 13.333px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.333px;
  }
  .projects_aboutHighlightedLocat__5KAyq {
    gap: 10px;
  }
  .projects_aboutHighlightedAdr__JD6XC span {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.35px;
  }
  .projects_ecoVillas__tXFB4:after {
    content: "";
    background:
      linear-gradient(
        180deg,
        #000 -25.51%,
        rgba(0, 0, 0, 0.52) 1.97%,
        rgba(0, 0, 0, 0) 24.95%,
        rgba(0, 0, 0, 0.23) 73.1%,
        rgba(0, 0, 0, 0.76) 103.05%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  }
  .projects_ecoVillasContainer__XQbq8 {
    padding-inline: 3rem;
  }
  .projects_ecoVillasContainer__XQbq8 h2 {
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
  .projects_ecoVillasContainer__XQbq8 h2 span {
    color: #fff;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 132.1%;
    text-transform: uppercase;
  }
}
